@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap");

.header {
    margin: 0;
    padding: 0 10px;
    position: relative;
    background: #363f98;
    color: #fff3e6;
    border-bottom: 1px solid #363f98;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  @media (min-width: 990px) {
    .header {
      padding: 0 15px;
    }
  }
  @media (min-width: 990px) {
    .header.-transparent {
      background: transparent;
    }
  }
  .header.-fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  nav #menuToggle {
    display: block;
    position: relative;
    margin: 10px;
    top: 2px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  nav #menuToggle.active span {
    opacity: 1;
    background-color: #fff;
  }
  nav #menuToggle.active span:first-child {
    -webkit-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
  }
  nav #menuToggle.active span:nth-child(2) {
    opacity: 0;
  }
  nav #menuToggle.active span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
  nav #menuToggle.active ul {
    right: -265px;
  }
  nav .menuToggle a {
    text-decoration: none;
    color: #232323;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  nav .menuToggle a:hover {
    color: #F46F65;
  }
  nav .menuToggle-nav {
    display: block;
    width: 34px;
    height: 25px;
    cursor: pointer;
    z-index: 2;
  }
  nav .menuToggle-nav span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  nav #menu {
    position: absolute;
    overflow: hidden;
    width: 320px;
    top: -15px;
    right: 420px;
    padding: 53px 0 0;
    border-bottom-right-radius: 20px;
    background: #242b6e;
    -webkit-box-shadow: -4px 4px 18px -8px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 4px 18px -8px rgba(0, 0, 0, 0.75);
    list-style-type: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  nav #menu li:not(:last-child) {
    border-bottom: 1px solid #363f98;
  }
  nav #menu li:hover {
    background-color: #fff;
    border-color: transparent;
  }
  nav #menu li:hover a {
    color: #242b6e;
  }
  nav #menu li a {
    width: 100%;
    padding: 14px 25px;
    font-family: "Rubik", sans-serif !important;
    font-size: 13px;
    color: #fff;
    display: inline-table;
  }
  @media (max-width: 380px) {
    nav #menu li a {
      font-size: 11px;
    }
  }